@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,600&display=swap");

.input {
  font-size: 15px;
  background-color: transparent;
  border: none;
  padding: 5px 20px;
  font-family: "Nunito Sans", sans-serif;
}
.input:focus {
  outline: none;
  padding: 5px 60px;
  transition: 600ms;
}
.search_container {
  margin: 10px 10px 10px 140px ;
  border-bottom: 1px solid #1e3799;
  position: relative;
}
.search_container img {
  opacity: 0.6;
}
.info {
    position: absolute;
    background-color: #0d121d;
    display: none;
    top:105%;
    font-size: 10px;
}
.input:focus + img + div.info  {
    display: block
}
.searchedcard{
display:flex;
color:white;
border: 1px solid #2a3a58;
margin:5px;
border-radius: 5px;
background-color: #2a3a58;
}
.searchedcard img {
max-width: 150px;
border-right: 1px solid black;
}

